* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;

}

.section {
    text-align: center;
    padding: 76px 0 51px;
}

img{
    max-width: 100%;
    height: auto;
    width: 100%;
}

button{
    border: none;
}
.container{
    margin: auto;
    max-width: 1200px;
    padding: 0 16px;
    text-align: left;
}

ul{
    list-style: none;
}

.header{
    padding: 16px 0;

}

.nav li{
    font-weight: 700;
    color: #1C1B1B

}

.nav__list{
    display: flex;
    gap: 28px;
}

.header__container{
    display: flex;
    align-items: center;
}

.nav{
    margin-right: 83px;
}

.logo{
    margin-right: 370px;
    width: 85px;
    height: 25px;
}

.header__icons_wrapper{
    align-items: center;
    display: flex;
    width: 85px;
    height: 25px;
}

.introduction{
    background-color: #F0EFEB;
    
}

.introduction__block{
    padding: 90px 0;
    max-width: 525px;
    padding-left: 16px;

}

.introduction__container{
    display: flex;
}

.introduction__title{
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 40px;
    
}

.introduction__text{
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 26px;
}

.introduction__button{
    color: white;
    background-color: black;
    font-size: 17px;
    line-height: 20px;
    padding: 8px 23px;
    cursor: pointer;
    border-radius: 100px;


}

.introduction__img{
    width: 450px;
    height: 500px;
    margin-left: 120px;
}

/* .img1{
    width: 315px;
    height: 585px;
}
.piwo{
    display: flex;
    gap: 205px;
    align-items: center;
}

.img1,.img2,.img3{
    width: 300px;
    height: 300px;
}

.img1{
    margin-left: 200px;
}

.pol{
    width: 300px;
    margin: 0 auto;
} */

.society{
    background-color: #CCCCCC4D;
    padding: 76px 0 51px;
}

.society__container{
    display: flex;
    gap: 50px;

}

.society__block{
    max-width: 535px;
}

.society__title{
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
}

.society__text{
    font-size: 36px;
    font-weight: 400;
    margin-top: 31px;
    margin-bottom: 40px;
}

.society__link{
    color: #000000;
    font-size: 17px;
    font-weight: 700;
}

.society__image-container{
    width: 385px;
    height: 525px;
}

.society{
    background-color: #CCCCCC4D;
}

.society__block{
    margin-top: 85px;
    margin-bottom: 60px;
    max-width: 535px;
}

.society__title{
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
}

.society__text{
    font-size: 36px;
    font-weight: 400;
    margin-top: 31px;
    margin-bottom: 40px;
}

.society__link{
    color: #000000;
    font-size: 17px;
    font-weight: 700;
}

.society__img{
    width: 325px;
    height: 385px;
    margin-top: 76px;
}

.culture{
    background-color: #CCCCCC99;
}

.culture__container{
    display: flex;
    gap: 50px;

}

.culture__block{
    margin-top: 85px;
    margin-bottom: 60px;
    max-width: 535px;
    text-align: right;
}

.culture__title{
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
}

.culture__text{
    font-size: 36px;
    font-weight: 400;
    margin-top: 31px;
    margin-bottom: 40px;
}

.culture__link{
    color: #000000;
    font-size: 17px;
    font-weight: 700;
}

.culture__image-container{
    width: 385px;
}


.power{
    background-color: #CCCCCC4D;
}

.power__container{
    display: flex;
    gap: 50px;

}

.power__block{
    margin-top: 85px;
    margin-bottom: 60px;
    max-width: 535px;
    
}

.power__title{
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
}

.power__text{
    font-size: 36px;
    font-weight: 400;
    margin-top: 31px;
    margin-bottom: 40px;
}

.power__link{
    color: #000000;
    font-size: 17px;
    font-weight: 700;
}

.power__image-container{
    width: 385px;
    height: 325px;
}
.sellers{
    padding-bottom: 200px;
}
.sellers__img{
    display: flex;
    gap: 60px;
}

.sellers__title{
    font-size: 36px;
    font-weight: 700;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 30px;
}

.sellers__text{
    font-size: 20px;
    font-weight: 400;
    max-width: 650px;
    margin: 0 auto;
    margin-bottom: 47px;
    text-align: center;
}

.sellers__text-2{
    font-size: 20px;
    font-weight: 400;
    max-width: 420px;
    margin: 0 auto;
   
}

.sellers__best_sellers{
    font-size: 36px;
    font-weight: 700;
    max-width: 256px;
    margin: 0 auto;
    margin-top: 90px;
    margin-bottom: 50px;
}

.sellers__img-text{
    font-size: 17px;
    text-align: center;
}

.sellers__img__title{
    width: 160px;
    margin: 0 82px;
    margin-top: 20px;
    margin-bottom: 17px;
}

.sellers__img__price{
    margin-bottom: 10px;
}

.sellers__img__link{
    color: #000000;
}

.feature{
    padding-bottom: 86px;
}

.feature__container{
    text-align: center;
    
    
}

.feature__container img{
    width: 70px;
    height: 70px;
}

.feature__container article{
    width: 340px;
    font-size: 30px;
    font-weight: 700;
}

.feature__block-1{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 110px;
    flex-wrap: wrap;
    row-gap: 110px;
}

.feature__title{
    font-size: 36px;
    margin-top: 190px;
    margin-bottom: 70px;
}

.discover__text{
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}

.discover img{
    width: 288px;
    height: 351px;
}

.discover__block{
    display: flex;
    margin-top: 105px;
    justify-content: space-around;
}

.discover__block article{
    width: 288px;
    text-align: center;
}

.discover__block-title{
    margin: 35px 0;
}

.discover__block-text{
    margin-bottom: 44px;
    font-size: 19px;
}

.discover__block-link{
    font-size: 18px;
    font-weight: 700;
    color: #000000;
}

.discover{
    background:     linear-gradient( white 50%, #F0F0F0 50%);
}

.contact{
    padding-bottom: 88px;
}

.contact__container{
    text-align: center;
}

.contact__title{
    font-size: 36px;
}

.contact__text{
    font-size: 17px;
    width: 496px;
    margin: 9px auto 25px;
}

.contact__input{
    margin: 0 auto;
    width: 366px;
}


.contact__input-1{
    width: 153px;
    height: 39px;
    margin-right: 55px;
    border: 1px solid black;
}

.contact__input-2{
    width: 153px;
    height: 39px;
    border: 1px solid black;
}

.contact__input-3{
    display: block;
    margin: 18px auto 16px;
    width: 100%;
    height: 39px;
    border: 1px solid black;
}

.contact__button{
    width: 115px;
    height: 33px;
    background-color: #000000;
    color: #F0F0F0;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 400;
}

.footer{
    background-color: #000000;
    width: 100%;
    color: white;
}

.footer__container{
    display: flex;
    justify-content: space-between;
}

.footer__icons{
    width: 26px;
    height: 26px;
    display: flex;
    gap: 20px;
}

.footer__logo{
    width: 129px;
    height: 41px;
}

.footer{
    padding: 50px 80px 16px;
}

.footer__links{
    display: flex;
    gap: 50px;
    
}


.footer__text{
    text-align: center;
    margin-top: 24px;
}
.footer__list-title{
    margin-bottom: 15px;
    
}

.footer__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}